<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activitys.PopUpActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog" />
        <activity
            android:name=".ui.activitys.MediaFilePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activitys.DocumentFilePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activitys.ImageCaptureActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />
        <activity
            android:name=".ui.activitys.VideoCaptureActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />

        <provider
            android:name=".utilities.CustomFileProvider"
            android:authorities="${applicationId}.library.fileprovider"
            android:exported="false"
            android:forceUriPermissions="true"
            android:grantUriPermissions="true"
            tools:targetApi="q">
            <!--android:authorities="${applicationId}.filepicker.fileprovider"-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_picker_library_provider" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.nareshchocha.filepickerlibrary.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>